
inmobapp_web/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
inmobapp_web/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.config
inmobapp_web/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
